@model EditServiceViewModel
@{
    Layout = null;
}

<div class="contact-page " id="New-Add">
    <span class="d-block text-center text-danger" id="new-add-error"></span>
    <form class="row d-flex justify-content-between flex-wrap" asp-controller="Admin" asp-action="EditAndReschedule" onsubmit="return jQueryAjaxPost(this);">
        <div class="col-12">
            <div class="col-6 pe-1" style="position:relative">
                <label class="fw-bold" for="Date">Date</label>
                <img src="~/images/calendar-color.png" class="calender" />
                <input type="date" id="Date" name="Date" class="" value="@Model.ServiceStartDate.ToString("dd-MM-yyyy")" />
            </div>
            <span class="text-danger" id="Date-error"></span>
            <div class="col-6 ps-1">
                <label class="fw-bold" for="Time">Time</label>
                <select name="Time" class="" style="width:100%">
                    <option value="8:00">8:00</option>
                    <option value="8:30">8:30</option>
                    <option value="9:00">9:00</option>
                    <option value="9:30">9:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                    <option value="12:00">12:00</option>
                    <option value="12:30">12:30</option>
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="15:30">15:30</option>
                    <option value="16:00">16:00</option>
                    <option value="16:30">16:30</option>
                    <option value="17:00">17:00</option>
                    <option value="17:30">17:30</option>
                    <option value="18:00">18:00</option>
                </select>
            </div>
        </div>
        <div class="col-12 fw-bold fs-5">Service Address</div>
        <div class="col-12 col-sm-6">
            <label class="" asp-for="AddressLine2"></label>
            <input asp-for="AddressLine2" value="@Model.AddressLine2">
            <span class="text-danger" asp-validation-for="AddressLine2"></span>
        </div>
        <div class="col-12 col-sm-6">
            <label class="" asp-for="AddressLine1"></label>
            <input asp-for="AddressLine1" value="@Model.AddressLine1">
            <span class="text-danger" asp-validation-for="AddressLine1"></span>
        </div>
        <div class="col-12 col-sm-6">
            <label class="" asp-for="ZipCode"></label>
            <input asp-for="ZipCode" value="@Model.ZipCode">
            <span class="text-danger" asp-validation-for="ZipCode"></span>
        </div>
        <div class="col-12 col-sm-6">
            <label class="" asp-for="City"></label>
            <input asp-for="City" value="@Model.City">
            <span class="text-danger" asp-validation-for="ZipCode"></span>
        </div>
        <input class=" " type="hidden" asp-for="ServiceId" value="@Model.ServiceId" />
        <input class=" " type="hidden" asp-for="AddressId" value="@Model.AddressId" />
        <div class="col-12 fw-bold" >Why do you want to reschedule service request ?</div>
        <textarea class="" name="Comment" placeholder="Why do you want to reschedule service request ?"></textarea>
        <div class="col-12">
            <button type="submit" class="py-2 my-3" style="background-color: #1fb6ff; border-radius: 7px;">Update</button>
        </div>
    </form>
</div>

<!-- jQuery Validation library-->
<script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
