@model IEnumerable<Rating>
@{
    ViewBag.Title = "Helperland - My Ratings";
    ViewBag.Header = "";
}

@* -----------------For dataTable plugIn--------------------------------*@
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    //window.onload = dataTable;
    //function dataTable() {
    //    console.log("sorting and paging");
    //    $("#myTable").DataTable();
    //}
    $(document).ready(function () {
        $.noConflict();
        $('#myTable').dataTable();
    });
</script>
@* -----------------------------------------------------------------------*@


<div class="service-history-table dashboard-table service-history">
    @foreach (Rating rating in Model)
    {
        <div class="p-2 m-3 rating-div">
            <div class="d-flex justify-content-between" >
                <div class="d-flex">
                    <div class="me-3" style="width: 200px;">
                        <div>@rating.ServiceRequestId</div>
                        <div>@(rating.RatingFromNavigation.FirstName + " " + rating.RatingFromNavigation.LastName)</div>
                    </div>
                    <div class="">
                        <div class="line-break">
                            <span class="fw-bold"><img src="~/images/calendar2.png" class="me-2" alt="">@rating.ServiceRequest.ServiceStartDate.ToString("dd-MM-yyyy").Replace('-', '/')</span>
                            <span><img src="~/images/layer-712.png" class="me-2" alt="">@rating.ServiceRequest.ServiceStartDate.ToString("HH:mm") - @rating.ServiceRequest.ServiceStartDate.AddHours(Convert.ToDouble(rating.ServiceRequest.SubTotal)).ToString("HH:mm")</span>
                        </div>
                    </div>
                </div>
                <div class="me-3">
                    <div class="fw-bold">Ratings</div>
                    <div>
                        @{ 
                            decimal spRate = rating.Ratings;
                            int i = 0;
                        }
                        <div class="sp-detail">
                            <span class="rating-star">
                                @for (i = 0; i < @Math.Round(spRate); i++)
                                {
                                    <img src="~/images/star-ratting-filled.svg" alt="">
                                }
                                @while (i != 5)
                                {
                                    <img src="~/images/star-ratting-empty.svg" alt="">
                                    i++;
                                }
                                <span class="ratting-number fw-bold">@spRate.ToString("F")</span>
                            </span>

                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-1" />
            <div>
                <div class="fw-bold">Customer Comment</div>
                <span>@rating.Comments</span>
            </div>
        </div>
    }
</div>