@model IEnumerable<ServiceRequest>
@{
    ViewBag.Title = "Helperland - Service History";
    ViewBag.Header = "";
}



<div class="service-history-table dashboard-table service-history">
    <div class="d-flex justify-content-between align-item-center py-2 flex-wrap">
        <span class="table-heading">Upcoming Services</span>
        <div class="mobile-sort">
            <span class="" href="#" id="navbarDropdown" data-bs-toggle="dropdown"
                  aria-expanded="false">
                <img src="~/images/sorting.png" class="ms-2" />
            </span>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><div class="dropdown-item" onclick="sortByDropdown(0, 'asc')"><input type="radio" name="sort" id="sort1" /><label for="sort1">Service Id : Asceding</label> </div></li>
                <li><div class="dropdown-item" onclick="sortByDropdown(0, 'desc')"><input type="radio" name="sort" id="sort2" /><label for="sort2">Service Id : Desceding</label> </div></li>
                <li><div class="dropdown-item" onclick="sortByDropdown(1, 'asc')"><input type="radio" name="sort" id="sort3" /><label for="sort3">Service Date : Latest</label> </div></li>
                <li><div class="dropdown-item" onclick="sortByDropdown(1, 'desc')"><input type="radio" name="sort" id="sort4" /><label for="sort4">Service Date : Oldest</label> </div></li>
                <li><div class="dropdown-item" onclick="sortByDropdown(3, 'asc')"><input type="radio" name="sort" id="sort5" /><label for="sort5">Payment: Low to High</label> </div></li>
                <li><div class="dropdown-item" onclick="sortByDropdown(3, 'desc')"><input type="radio" name="sort" id="sort6" /><label for="sort6">Payment: Hight to Low</label> </div></li>
                <li><div class="dropdown-item" onclick="sortByDropdown(2, 'asc')"><input type="radio" name="sort" id="sort7" /><label for="sort7">Customer Details: A to Z</label> </div></li>
                <li><div class="dropdown-item" onclick="sortByDropdown(2, 'desc')"><input type="radio" name="sort" id="sort8" /><label for="sort8">Customer Details: Z to A</label> </div></li>

            </ul>
        </div>
        <div class="export-button-div"><a href="" class="export-button">Export</a></div>
    </div>
    <table class="responsive-row" style="width: 100%;" id="myTable">
        <thead class="">
        <th width="17%" onclick="sortingImg(this)" id="ServiceIdCol"><a href="#">Service ID <img src="~/images/sort.png" class="sorting-img" alt=""></a></th>
        <th width="26%" onclick="sortingImg(this)" id="ScheduleCol"><a href="#">Service Details <img src="~/images/sort.png" class="sorting-img" alt=""></a></th>
        <th width="40%" onclick="sortingImg(this)" id="SPCol"><a href="#">Customer Details <img src="~/images/sort.png" class="sorting-img" alt=""></a></th>
        <th width="17%" class="text-center" onclick="sortingImg(this)" id="PaymentCol">
            <a href="#">Payment <img src="~/images/sort.png" class="sorting-img" alt=""></a>
        </th>
        </thead>
        <tbody>
            @foreach (ServiceRequest service in Model)
            {
                <tr>
                    <td>@service.ServiceRequestId</td>
                    <td onclick="ServiceDetails(@service.ServiceRequestId)">
                        <div class="d-none">@service.ServiceStartDate.ToString("yyyy-MM-dd") @Convert.ToDateTime(service.ServiceStartDate).TimeOfDay</div>
                        <div class="line-break">
                            <a href="#" class="fw-bold"><img src="~/images/calendar2.png" alt="">@service.ServiceStartDate.ToString("dd-MM-yyyy").Replace('-', '/')</a>
                            @*<a href="" class="fw-bold"><img src="~/images/calendar2.png" alt="">@Convert.ToDateTime(service.ServiceStartDate).Date</a>*@
                            <a href="#"><img src="~/images/layer-712.png" alt="">@service.ServiceStartDate.ToString("HH:mm") - @service.ServiceStartDate.AddHours(Convert.ToDouble(service.SubTotal)).ToString("HH:mm")</a>
                        </div>
                    </td>
                    <td class=" d-flex align-item-center">
                        <img src="~/images/layer-15.png" class="align-self-center" alt="" height="25">
                        <div>
                            <span class="cust-name fw-bold">@(service.User.FirstName + " " + service.User.LastName)</span><br>
                            @foreach (ServiceRequestAddress address in service.ServiceRequestAddresses)
                            {
                                <span>@address.AddressLine1, </span> <span>@address.AddressLine2</span> <br />
                                <span>@address.PostalCode </span> <span>@address.City</span>
                            }
                        </div>
                    </td>
                    <td class="payment td-center">€<span>@service.TotalCost</span></td>
                </tr>
            }



        </tbody>
    </table>

</div>


@section Modals
{
    <div class="Modal wide-modal mx-2" id="Service-Details-Modal">
        <img class="close-modal" src="~/images/close.png" />
        <h4 class="modal-title my-2" id="Address-Modal-Title">Service Details</h4>
        <div id="ServiceDetails">

        </div>
    </div>


}

@section Scripts
{
    <script type="text/javascript">

        function ServiceDetails(ServiceId) {
            console.log("service details function");
            $("#blur").addClass("blur");
            $("#ServiceDetails").load(`/SP/GetServiceDetails/${ServiceId}`);
            $("#Service-Details-Modal").addClass("active");
        }

        function sortingImg(ele) {
            console.log("sorting img display");
            $(".sorting-img").css("display", "none");
            $("#" + ele.id + " .sorting-img").css("display", "inline-block");
        }
        var table = $('#myTable').DataTable();
        function sortByDropdown(column, orderBy) {
            table.order([[column, orderBy]]).draw();
        }

    </script>
}