@model IEnumerable<ServiceRequest>
@{
    ViewBag.Title = "Helperland - Dashboard";
    ViewBag.Header = "";
}

@* -----------------For dataTable plugIn--------------------------------*@
@*<script src="~/lib/jquery/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();
        $('#myTable').dataTable();
    });
</script>*@
@* -----------------------------------------------------------------------*@



<div class="service-history-table dashboard-table service-history">
    <div class="d-flex justify-content-between align-item-center py-2 flex-wrap">
        <span class="table-heading">Current Service Requests</span>
        <div class="mobile-sort">
            <span class="" href="#" id="navbarDropdown" data-bs-toggle="dropdown"
                  aria-expanded="false">
                <img src="~/images/sorting.png" class="ms-2" />
            </span>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><div class="dropdown-item" onclick="sortByDropdown(1, 'asc')"><input type="radio" name="sort" id="sort3" /><label for="sort3">Service Date : Latest</label> </div></li>
                <li><div class="dropdown-item" onclick="sortByDropdown(1, 'desc')"><input type="radio" name="sort" id="sort4" /><label for="sort4">Service Date : Oldest</label> </div></li>
                <li><div class="dropdown-item" onclick="sortByDropdown(2, 'asc')"><input type="radio" name="sort" id="sort5" /><label for="sort5">Service Provider: A to Z</label> </div></li>
                <li><div class="dropdown-item" onclick="sortByDropdown(2, 'desc')"><input type="radio" name="sort" id="sort6" /><label for="sort6">Service Provider: Z to A</label> </div></li>
                <li><div class="dropdown-item" onclick="sortByDropdown(3, 'asc')"><input type="radio" name="sort" id="sort6" /><label for="sort6">Payment: Low to High</label> </div></li>
                <li><div class="dropdown-item" onclick="sortByDropdown(3, 'desc')"><input type="radio" name="sort" id="sort6" /><label for="sort6">Payment: Hight to Low</label> </div></li>

            </ul>
        </div>
        <div class="export-button-div"><a asp-controller="Service" asp-action="BookService" class="export-button text-center fs-7">+ Add New Service Request</a></div>
    </div>
    <table class="responsive-row" style="width: 100%;" id="myTable">
        <thead class="">
        <th width="16%" onclick="sortingImg(this)" id="ServiceIdCol"><a href="#">Service ID <img src="~/images/sort.png" class="sorting-img" alt=""></a></th>
        <th width="19%" onclick="sortingImg(this)" id="ScheduleCol"><a href="#">Service Details <img src="~/images/sort.png" class="sorting-img" alt=""></a></th>
        <th width="25%" style="width:25%;" onclick="sortingImg(this)" id="SPCol"><a href="#">Service Provider <img src="~/images/sort.png" class="sorting-img" alt=""></a></th>
        <th width="15%" class="text-center" onclick="sortingImg(this)" id="PaymentCol">
            <a href="#">Payment <img src="~/images/sort.png" class="sorting-img" alt=""></a>
        </th>
        <th width="25%" class="text-center">
            <a>Actions</a>
        </th>
        </thead>
        <tbody>
            @foreach (ServiceRequest service in Model)
            {
                <tr>
                    <td>@service.ServiceRequestId</td>
                    <td onclick="ServiceDetails(@service.ServiceRequestId)">
                        <div class="d-none">@service.ServiceStartDate.ToString("yyyy-MM-dd") @Convert.ToDateTime(service.ServiceStartDate).TimeOfDay</div>
                        <div class="line-break">
                            <a href="#" class="fw-bold"><img src="~/images/calendar2.png" alt="">@service.ServiceStartDate.ToString("dd-MM-yyyy").Replace('-', '/')</a>
                            @*<a href="" class="fw-bold"><img src="~/images/calendar2.png" alt="">@Convert.ToDateTime(service.ServiceStartDate).Date</a>*@
                            <a href="#"><img src="~/images/layer-712.png" alt="">@service.ServiceStartDate.ToString("HH:mm") - @service.ServiceStartDate.AddHours(Convert.ToDouble(service.SubTotal)).ToString("HH:mm")</a>
                        </div>
                    </td>
                    <td class="service-provider">
                        @if (service.ServiceProvider != null)
                        {
                            var rateList = service.ServiceProvider.RatingRatingToNavigations.Where(x => x.RatingTo == service.ServiceProviderId);
                            decimal spRate;
                            if (rateList.Count() > 0)
                            {
                                spRate = rateList.Average(t => t.Ratings);
                            }
                            else
                            {
                                spRate = 0;
                            }
                            int i = 0;

                            <img src="~/images/cap.png" alt="">
                            <div class="sp-detail">
                                <span class="fw-bold">@(service.ServiceProvider != null ? (service.ServiceProvider.FirstName + " " + service.ServiceProvider.LastName ) : "")</span>
                                <br>
                                <span class="rating-star">
                                    @for (i = 0; i < @Math.Round(spRate); i++)
                                    {
                                        <img src="~/images/star-ratting-filled.svg" alt="">
                                    }
                                    @while (i != 5)
                                    {
                                        <img src="~/images/star-ratting-empty.svg" alt="">
                                        i++;
                                    }

                                    <span class="ratting-number">@spRate.ToString("F")</span>
                                </span>

                            </div>
                        }
                    </td>
                    <td class="payment td-center">€<span>@service.TotalCost</span></td>
                    <td class="service-status text-center">
                        <div class="d-inline-block my-2"><span class="complete-button fs-7 " onclick="reSchedule(@service.ServiceRequestId, @((service.ServiceProvider != null) ? service.ServiceProvider.UserId : 0))">Reschedule</span></div>
                        <div class="d-inline-block my-2" ><span class="cancle-button fs-7" onclick="Cancle(@service.ServiceRequestId, '@(service.ServiceProvider != null ? service.ServiceProvider.Email : "")')">Cancle</span></div>
                    </td>
                </tr>
            }



        </tbody>
    </table>

</div>


<!-- ------------- Modal--------------- -->
@section Modals
{
    <div class="Modal " id="Delete-service-Modal">
        <img class="close-modal" src="~/images/close.png" />
        <h4 class="modal-title mb-3">Cancel Service</h4>
        <form asp-controller="User" asp-action="DeleteServiceRequest" onsubmit="return jQueryAjaxPost(this);">
            <input type="hidden" name="ServiceRequestId" value="" />
            <input type="hidden" name="SPEmail" value="" />
            <label>Why do you want to cancle the service request ?</label>
            <textarea class="mb-0" name="cancleMessage" data-val="true" data-val-length="The Comment must be a string with a maximum length of 200." maxlength="200" rows="3" id="cancleMessage" data-val-required="The cancellation message is required." data-val-length-max="200" aria-describedby="cancleMessage-error" aria-invalid="true" required></textarea>
            <span class="text-danger field-validation-error" data-valmsg-for="cancleMessage" data-valmsg-replace="true" style="font-size: 14px;"></span>
            <button type="submit" class="fw-normal" value="Delete">Cancle Now</button>
        </form>
    </div>

    <div class="Modal  text-center " id="Service-Deleted-Modal">
        <img src="~/images/correct-white-medium.png" class="correct-img mt-3 mb-2" />
        <div class="text-center fs-5">Your service request cancelled successfully</div>
        <div class="text-center fs-7 my-3">Cancelled Request Id : <span id="cancelled-id"></span></div>
        <div class="small-button fw-normal px-4 py-1 mx-auto"  style="width: auto;" onclick="reloadPage()">Ok</div>
    </div>

    <div class="Modal  text-center " id="Service-ReScheduled-Modal">
        <img src="~/images/correct-white-medium.png" class="correct-img mt-3 mb-2" />
        <div class="text-center fs-6 my-2" id="reSchedule-message"></div>
        <div class="small-button fw-normal px-4 py-1 mx-auto" style="width: auto;" onclick="reloadPage()">Ok</div>
    </div>

    <div class="Modal wide-modal mx-2" id="Service-Details-Modal" >
        <img class="close-modal" src="~/images/close.png" />
        <h4 class="modal-title my-2" id="Address-Modal-Title">Service Details</h4>
        <div id="ServiceDetails">

        </div>
    </div>

    <div class="Modal Address-Modal mx-2" id="Reschedule-Modal" style="width: auto; max-width: 380px;">
        <img class="close-modal" src="~/images/close.png" />
        <h4 class="modal-title my-2" id="Address-Modal-Title">Reschedule Service Request</h4>
        <span id="reSchedule-fail" class="d-block text-center text-danger fs-7"></span>
        <div id="add-or-edit-address">
            <form asp-controller="User" asp-action="ReScheduleService" onsubmit="return jQueryAjaxPost(this);">
                <input type="hidden" name="ServiceId" value="" />
                <input type="hidden" name="SPId" value="" />
                <div>Select New Date & Time</div>
                <div class="row">
                    <div class="col-6 pe-1" style="position:relative">
                        <img src="~/images/calendar-color.png" class="calender" />
                        <input type="date" id="Date" name="Date" class="" />
                    </div>                    
                    <div class="col-6 ps-1">
                        <select name="Time" class="" style="width:100%">
                            <option value="8:00">8:00</option>
                            <option value="8:30">8:30</option>
                            <option value="9:00">9:00</option>
                            <option value="9:30">9:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                        </select>
                    </div>
                </div>
                <button type="submit">Update</button>
            </form>
        </div>
    </div>


    <!-- ------------------modal format------------------------ -->
    <div class="Modal Address-Modal mx-2" id="Address-Modal">
        <img class="close-modal" src="~/images/close.png" />
        <h4 class="modal-title my-2" id="Address-Modal-Title"></h4>
        <div id="add-or-edit-address">

        </div>
    </div>
}


@section Scripts
{
    <script>
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;
        $("#Date").attr('min', today);

        function Cancle(ServiceId, SPEmail) {
            console.log("delete modal");
            $("#blur").addClass("blur");
            $("#Service-Details-Modal").removeClass("active");
            $("#Delete-service-Modal").addClass("active");
            $('input[name="ServiceRequestId"]').val(ServiceId);
            $('input[name="SPEmail"]').val(SPEmail);
        }


        function ServiceDetails(ServiceId) {
            $("#ServiceDetails").load(`/User/GetServiceDetails/${ServiceId}`);
            $("#Service-Details-Modal").addClass("active");
        }

        function reSchedule(ServiceId, SPId) {
            console.log("Reschedule modal");
            $("#blur").addClass("blur");
            $("#Service-Details-Modal").removeClass("active");
            $("#reSchedule-fail").html("");
            $("#Reschedule-Modal").addClass("active");
            $('input[name="ServiceId"]').val(ServiceId);
            $('input[name="SPId"]').val(SPId);
        }

        function sortingImg(ele) {
            console.log("sorting img display");
            $(".sorting-img").css("display", "none");
            $("#" + ele.id + " .sorting-img").css("display", "inline-block");
        }

        var table = $('#myTable').DataTable();
        function sortByDropdown(column, orderBy) {
            table.order([[column, orderBy]]).draw();
        }

    </script>
}

