@model IEnumerable<ServiceRequest>
@{
    ViewBag.Title = "Helperland - Service History";
    ViewBag.Header = "";
}

@* -----------------For dataTable plugIn--------------------------------*@
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();
        $('#myTable').dataTable();
    });
</script>
@* -----------------------------------------------------------------------*@


<div class="service-history-table dashboard-table service-history">
    <div class="d-flex justify-content-between align-item-center py-2">
        <span class="table-heading">Service History</span>
        <a href="" class="export-button">Export</a>
    </div>
    <table class="responsive-row" style="width: 100%;" id="myTable">
        <thead class="">
        <th width="16%" onclick="sortingImg(this)" id="ServiceIdCol"><a href="#">Service ID <img src="~/images/sort.png" class="sorting-img" alt=""></a></th>
        <th width="19%" onclick="sortingImg(this)" id="ScheduleCol"><a href="#">Service Date <img src="~/images/sort.png" class="sorting-img" alt=""></a></th>
        <th width="25%" style="width:25%;" onclick="sortingImg(this)" id="SPCol"><a href="#">Service Provider <img src="~/images/sort.png" class="sorting-img" alt=""></a></th>
        <th width="15%" class="text-center" onclick="sortingImg(this)" id="PaymentCol">
            <a href="#">Payment <img src="~/images/sort.png" class="sorting-img" alt=""></a>
        </th>
        <th width="15%" class="text-center">
            <a>Status </a>
        </th>
        <th width="15%" class="text-center">Rate SP</th>
        </thead>
        <tbody>
            @foreach (ServiceRequest service in Model)
            {
                <tr>
                <td>@service.ServiceRequestId</td>
                <td onclick="ServiceDetails(@service.ServiceRequestId)">
                    <div class="d-none">@String.Format("{0:yyyy/MM/dd}", service.ServiceStartDate) @Convert.ToDateTime(service.ServiceStartDate).TimeOfDay</div>
                    <div class="line-break">
                        <a href="#" class="fw-bold"><img src="~/images/calendar2.png" alt="">@String.Format("{0:dd/MM/yyyy}", service.ServiceStartDate)</a>
                        @*<a href="" class="fw-bold"><img src="~/images/calendar2.png" alt="">@Convert.ToDateTime(service.ServiceStartDate).Date</a>*@
                        <a href="#"><img src="~/images/layer-712.png" alt="">@(Convert.ToString(Convert.ToDateTime(service.ServiceStartDate).TimeOfDay).Substring(0,5)) - @(Convert.ToString(Convert.ToDateTime(service.ServiceStartDate.AddHours(Convert.ToDouble(service.SubTotal))).TimeOfDay).Substring(0,5))</a>
                    </div>
                </td>
                <td class="service-provider">
                    @if (service.ServiceProvider != null)
                    {
                        <img src="~/images/cap.png" alt="">
                        <div class="sp-detail">
                            <span class="fw-bold">@(service.ServiceProvider != null ? (service.ServiceProvider.FirstName + " " + service.ServiceProvider.LastName ) : "")</span>
                            <br>
                            <span class="rating-star">
                                <img src="~/images/star-ratting-filled.svg" alt="">
                                <img src="~/images/star-ratting-filled.svg" alt="">
                                <img src="~/images/star-ratting-filled.svg" alt="">
                                <img src="~/images/star-ratting-filled.svg" alt="">
                                <img src="~/images/star-ratting-empty.svg" alt="">
                                <span class="ratting-number">4</span>
                            </span>

                        </div>
                    }
                </td>
                <td class="payment td-center"><span>@service.TotalCost</span>€</td>
                <td class="service-status text-center">
                    @if (service.Status == 3)
                    {
                        <span class="completed">Completed</span>
                    }
                    else
                    {
                        <span class="cancelled">Cancelled</span>
                    }
                </td>
                <td class="text-center">
                    @if (service.Status == 3 && service.ServiceProvider != null)
                    {
                        <a class="fs-7 export-button" style="cursor: pointer" onclick="RateSP('@(service.ServiceProvider.FirstName + " " + service.ServiceProvider.LastName)', @service.ServiceProvider.UserId, @service.ServiceRequestId)"
                           title="RateSP">RateSP</a>
                    }
                    else
                    {
                        <a class="fs-7 RateSP-button pe-none " style="cursor: pointer" title="RateSP">RateSP</a>
                    }

                    @*<a class="fs-7 @(service.Status == 3 ? "export-button" : "RateSP-button pe-none")" style="cursor: pointer" onclick="RateSP(@(service.ServiceProvider != null ? (service.ServiceProvider.FirstName + " " + service.ServiceProvider.LastName ) : ""))"
                       title="RateSP">RateSP</a>*@
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>

@*----------------------------Modals-----------------------*@
@section Modals{ 

    <div class="Modal wide-modal mx-2" id="Service-Details-Modal">
        <img class="close-modal" src="~/images/close.png" />
        <h4 class="modal-title my-2" id="Address-Modal-Title">Service Details</h4>
        <div id="ServiceDetails">

        </div>
    </div>

    <div class="Modal Address-Modal mx-2" id="Rating-Modal">
        <img class="close-modal" src="~/images/close.png" />
        <div class="service-provider d-flex">
            <div class="d-flex align-item-center me-2  p-2" style="border: 1px solid #A0A0A0; border-radius:50%;"><img src="~/images/cap.png" alt="" width="40" height="36"></div>
            <div class="sp-detail">
                <span class="fw-bold" id="sp_name"></span>
                <br>
                <span class="rating-star">
                    <img src="~/images/star-ratting-filled.svg" alt="">
                    <img src="~/images/star-ratting-filled.svg" alt="">
                    <img src="~/images/star-ratting-filled.svg" alt="">
                    <img src="~/images/star-ratting-filled.svg" alt="">
                    <img src="~/images/star-ratting-empty.svg" alt="">
                    <span class="ratting-number">4</span>
                </span>
            </div>
        </div>
        <h4 class="fw-bold fs-6 my-2 " id="Address-Modal-Title">Rate your service provider</h4>
        <hr class="my-2" />
        <form asp-controller="User" asp-action="RateSP" onsubmit="return jQueryAjaxPost(this);">
            <input type="hidden" name="ServiceId" value="" />
            <input type="hidden" name="SPId" value="" />
            <div>
                <span>On time arrival</span>
            </div>
            <div>
                <span>Friendly</span>
            </div>
            <div>
                <span>Quality Of Service</span>
            </div>
            <textarea name="Feedback"></textarea>
            <button type="submit" class="small-button" style="width: auto;" >Submit</button>
        </form>
        <div id="">

        </div>
    </div>
}


@*---------------------------Scripts-------------------------*@
@section Scripts{

    <script type="text/javascript">

        function ServiceDetails(ServiceId) {
            $("#ServiceDetails").load(`/User/GetServiceDetails/${ServiceId}`);
            $("#Service-Details-Modal").addClass("active");
        }

        function sortingImg(ele) {
            console.log("sorting img display");
            $(".sorting-img").css("display", "none");
            $("#" + ele.id + " .sorting-img").css("display", "inline-block");
        }


        function RateSP(SPName, SPId, ServiceId) {
            console.log("RateSP modal");
            $("#blur").addClass("blur");
            $("#Service-Details-Modal").removeClass("active");
            $("#Rating-Modal").addClass("active");
            $('input[name="ServiceId"]').val(ServiceId);
            $('input[name="SPId"]').val(SPId);
            $('#sp_name').html(SPName);
        }
    </script>
}
