@model AuthenticationViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <!-- Link for fav icon-->
    <link href="~/images/favicon_img.png" rel="shortcut icon" />

    <!-- bootstrap css bundle -->
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- custom CSS -->
    @if (ViewData["Title"].ToString() == "Helperland - Home")
    {
        <link href="~/css/site.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/css/site2.css" rel="stylesheet" />
    }

    <link href="~/css/common.css" rel="stylesheet" />
    <link href="~/css/Modal.css" rel="stylesheet" />
</head>

<body>
    <div class="">
        <main role="main" class="" id="blur">
            <!-- header + navbar -->
            <header class="header @(ViewData["Header"].ToString() == "Sliding_Header" ? "service-provider-header" : "") " id="header">
                <nav class="navbar navbar-expand-lg">
                    <!-- Logo -->
                    <a class="navbar-brand logo" href="/">
                        <img src="~/images/white-logo-transparent-background.png" alt="logo">
                    </a>

                    <!-- mobile menu collapse-->
                    <button class="menu-toggler">
                        <!-- active class will be added on mobile view-->
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    <!-- navbar content -->
                    <div class="custom-navbar-menu navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto align-items-lg-center">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="mobile-menu-items">
                                <li class="nav-item mobile-link">
                                    <a class="nav-link" href="#" disabled>
                                        Welcome, <br>
                                        <span class="fw-bold">@User.FindFirst(System.Security.Claims.ClaimTypes.Name).Value</span>
                                    </a>
                                </li>
                                <hr>
                                @if (User.IsInRole("1"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Dashboard" ? "active" : "")" href="#">Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Service History" ? "active" : "")" href="#">Service History</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Service Schedules" ? "active" : "")" href="#">Service Schedules</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Favourite Pros" ? "active" : "")" href="#">Favourite Pros</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Invoices</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Notifications</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="User" asp-action="MyAccount">My Settings</a>
                                    </li>
                                }
                                @if (User.IsInRole("2"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Dashboard" ? "active" : "")" href="#">Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - New Service Requests" ? "active" : "")" href="#">New Service Requests</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Upcoming Services" ? "active" : "")" href="#">Upcoming Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Service Schedules" ? "active" : "")" href="#">Service Schedules</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Service History" ? "active" : "")" href="#">Service History</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - My Ratings" ? "active" : "")" href="#">My Ratings</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Block Customer</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - MyAccount" ? "active" : "")" asp-controller="SP" asp-action="MyAccount">My Settings</a>
                                    </li>
                                }

                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="Logout">Logout <img src="~/images/logout.png" class="mx-1" alt="" height="18px" width="18px" style="filter: invert(0.5);"></a>
                                </li>
                                <hr>
                        </div>
                    }
                            @if ((User.Identity.IsAuthenticated && User.IsInRole("1")) || !User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(ViewData["Header"].ToString() == "Sliding_Header" ? "button" : "button-color")   @(ViewData["Title"].ToString() == "Helperland - Book Service" ? "active" : "")" aria-current="page" asp-controller="Service" asp-action="BookService">Book now</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Prices & Services" ? "active" : "")" asp-controller="Home" asp-action="Prices">Prices & services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Warranty</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Contact Us" ? "active" : "")" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(ViewData["Header"].ToString() == "Sliding_Header" ? "button" : "button-color") login" href="#">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewData["Header"].ToString() == "Sliding_Header" ? "button" : "button-color") " asp-controller="Register" asp-action="Sp_Register">Become a Helper</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item notification">
                                    <span class="notification-number">2</span>
                                    <a class="nav-link nav-link2" href="#">
                                        <img src="~/images/icon-notification.png" alt=""
                                             height="31px" width="26px">
                                    </a>
                                </li>
                                <li class="nav-item dropdown fleg">
                                    <a class="nav-link  nav-link2" href="#" id="navbarDropdown" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="~/images//user.png" alt="logo" height="36px" width="36px">
                                        <img src="~/images/keyboard-right-arrow-button.png" alt="logo">
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li>
                                            <a class="dropdown-item" href="#" disabled>
                                                Welcome, <br> <span class="fw-bold">
                                                    First Provider
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        @if (User.IsInRole("1"))
                                        {
                                            <li><a class="dropdown-item" asp-controller="User"> My Dashboard</a></li>
                                            <li><a class="dropdown-item" asp-controller="User" asp-action="MyAccount"> My Settings</a></li>
                                        }
                                        @if (User.IsInRole("2"))
                                        {
                                            <li><a class="dropdown-item" asp-controller="SP"> My Dashboard</a></li>
                                            <li><a class="dropdown-item" asp-controller="SP" asp-action="MyAccount"> My Settings</a></li>
                                        }

                                        <li>
                                            <a class="dropdown-item" asp-controller="Home" asp-action="Logout">
                                                Logout <img src="~/images/logout.png" style="filter: invert(0.5);"
                                                            class="mx-1" alt="" height="18px" width="18px">
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            <hr>
                            <span class="mobile-menu-items">
                                <div class="media-icons">
                                    <a href="#" class="d-inline m-0"><img src="~/images/facebook-mobile-menu.png" alt="" class="mx-2"></a>
                                    <a href="#" class="d-inline m-0"><img src="~/images/instagram-mobile-menu.png" alt="" class="mx-2"></a>
                                </div>
                            </span>
                            </ul>
            </div>
            </nav>
            </header>
            @RenderBody()


            <!-- NEWSLETTER area-->
            @if (ViewData["Title"].ToString() != "Helperland - Create an account" && ViewData["Title"].ToString() != "Helperland - Book Service")
            {
                <div class="newsletter" id="newsletter">
                    <div class="container-fluid d-flex justify-content-between py-5">
                        @*<a class="order-sm-1 order-2">
                                <div class="up-arrow"><img src="~/images/forma-1.png" alt=""></div>
                            </a>*@
                        <div class="content  order-sm-2 order-1">
                            <h2 class="small-title text-center py-1">GET OUR NEWSLETTER</h2>
                            <form action="#" method="post" class="text-center">
                                <input type="email" name="" id="subscribe-email" placeholder="YOUR EMAIL">
                                <button type="submit" class="my-2 mx-2">Submit</button>
                            </form>
                        </div>
                        @*<a href="" class="order-sm-3 order-3">
                                <div class="layer"><img src="~/images/layer-598.png" height="63" width="63" alt=""></div>
                        </a>*@
                    </div>
                </div>
            }

            <!-- FOOTER area -->
            <div class="footer px-2" id="footer">
                <div class="container d-flex flex-wrap justify-content-center justify-content-sm-between align-items-center py-4 px-0">
                    <a href="/" class="footer-logo">
                        <img src="~/images/white-logo-transparent-background.png"
                             alt="logo" class="logo">
                    </a>
                    <div class="links">
                        <ul>
                            <a asp-controller="Home" asp-action="Index">
                            <li>HOME</li>
                            </a>
                            <a asp-controller="Home" asp-action="About">
                            <li>ABOUT</li>
                            </a>
                            <a href="#">
                            <li>TESTIMONIALS</li>
                            </a>
                            <a asp-controller="Home" asp-action="FAQs">
                            <li>FAQS</li>
                            </a>
                            <a href="#">
                            <li>INSURANCE POLICY</li>
                            </a>
                            <a href="#">
                            <li>IMPRESSUM</li>
                            </a>
                        </ul>
                    </div>
                    <div class="media-icons">
                        <a><img src="~/images/ic-facebook.png" alt="" class=""></a>
                        <a><img src="~/images/ic-instagram.png" alt="" class=""></a>
                    </div>
                </div>
                <hr class="divider container mx-auto">
                <div class="copy-rights d-flex justify-content-center py-3" id="copy-rights">
                    <div>
                        ©2018 Helperland. All rights reserved. <a href="">Terms and Conditions</a> | <a href="">
                            Privacy
                            Policy
                        </a>
                    </div>
                </div>
            </div>
            </main>
            </div>
            <!--  -->
            <!-- -------------Login Modal--------------- -->
            <div class="Modal " id="Login-Modal">
                <img class="close-modal" src="~/images/close.png" />
                <h4 class="modal-title">Login to your account</h4>
                <span class="d-block text-center text-danger" id="error"></span>
                <form asp-controller="Register" asp-action="ResendConfirmEmail" method="post" class="hiddenForm">
                    <input type="hidden" value="" name="email" id="hiddenEmail" />
                    <!--  <input type="hidden" value="" name="name" id="hiddenName" />
                    <input type="hidden" value="" name="id" id="hiddenId" /> -->
                    <input type="submit" id="hiddenButton" value="Send Email" style="background-color: transparent; border: none !important; display: none; color: #0c8fa5; " class="my-0" />
                </form>
                <form asp-controller="Home" asp-action="Login" onsubmit="return jQueryAjaxPost(this);">
                    @if (Model != null)
                    {
                        @Html.HiddenFor(x => x.ReturnUrl)
                    }
                    else
                    {
                        <input type="hidden" asp-for="ReturnUrl" value="/" />
                    }
                    <div>
                        <input asp-for="Email" />
                        <img src="~/images/login-user.png" alt=" " />
                    </div>
                    <span class="text-danger" asp-validation-for="Email"></span>
                    <div>
                        <img src="~/images/lock.png" />
                        <input type="password" asp-for="Password" />
                    </div>
                    <span class="text-danger" asp-validation-for="Password"></span>
                    <div><input type="checkbox" class="mr-3" asp-for="RememberMe" id="remember-me" /><label for="remember-me">Remember Me</label></div>
                    <button type="submit">LogIn</button>
                </form>
                <div class="text-center mt-4"><a href="#" id="password-reset">Forgot password ?</a></div>
                <div class="text-center">Don't have an account ? <a asp-controller="Register" asp-action="Index">Create an account</a></div>
            </div>
            <!-- -------------password Modal--------------- -->
            <div class="Modal " id="Password-Modal">
                <img class="close-modal" src="~/images/close.png" />
                <h4 class="modal-title">Forgot Password</h4>
                <span class="d-block text-center text-danger" id="error1"></span>
                <span class="p-2 text-center alert-success" id="success1" style="display: none;">
                    A password reset link has been sent to your registered email. <br /> Please use it to reset your password. <br />
                    <span class="fw-bold">Please note that, Link will expire within An Hour.</span>
                </span>
                <form asp-controller="Register" asp-action="ForgotPasswordEmail" onsubmit="return jQueryAjaxPost(this);">
                    <div>
                        <img src="~/images/login-user.png" alt=" " />
                        <input asp-for="Email" />
                    </div>
                    <span class="text-danger" asp-validation-for="Email"></span>
                    <button type="submit">Send</button>
                </form>
                <div class="text-center mt-4"><a href="#" class="login">LogIn Now</a></div>
            </div>




            <!-- bootstrap bundle JS -->
            <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- jquery cdnjs -->
            <script src="~/lib/jquery/jquery.min.js"></script>
            <!-- Custom Script file -->
            <script src="~/js/site.js" asp-append-version="true"></script>
            <!-- jQuery Validation library-->
            <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

            @*@RenderSection("Scripts", required: false)*@
            @if (IsSectionDefined("Scripts"))
            {
                @RenderSection("Scripts", required: true)
            }
        </body>
        
</html>
