<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <!-- Link for fav icon-->
    <link href="~/images/favicon_img.png" rel="shortcut icon" />

    <!-- bootstrap css bundle -->
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- custom CSS -->
    @if (ViewData["Title"].ToString() == "Helperland - Home")
    {
        <link href="~/css/site.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/css/site2.css" rel="stylesheet" />
    }

    <link href="~/css/common.css" rel="stylesheet" />
    <link href="~/css/Modal.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <div class="">
        <main role="main" class="" id="blur">
            <!-- header + navbar -->
            <header class="header @(ViewData["Header"].ToString() == "Sliding_Header" ? "service-provider-header" : "") " id="header">
                <nav class="navbar navbar-expand-lg">
                    <!-- Logo -->
                    <a class="navbar-brand logo" href="/">
                        <img src="~/images/white-logo-transparent-background.png" alt="logo">
                    </a>

                    <!-- mobile menu collapse-->
                    <button class="menu-toggler">
                        <!-- active class will be added on mobile view-->
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    <!-- navbar content -->
                    <div class="custom-navbar-menu navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto align-items-lg-center">

                            <div class="mobile-menu-items">
                            <li class="nav-item mobile-link">
                                <a class="nav-link" href="#" disabled>
                                    Welcome, <br>
                                    <span class="fw-bold">@User.FindFirst(System.Security.Claims.ClaimTypes.Name).Value</span>
                                </a>
                            </li>
                            <hr>
                            @if (User.IsInRole("1"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Dashboard" ? "active" : "")" asp-controller="@(User.IsInRole("1") ? "User" : "SP")" asp-action="Index">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Service History" ? "active" : "")" asp-controller="User" asp-action="ServiceHistory">Service History</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Service Schedules" ? "active" : "")" asp-controller="User" asp-action="ServiceSchedule">Service Schedules</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Favourite Pros" ? "active" : "")" asp-controller="User" asp-action="FavouritePros">Favourite Pros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Invoices</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Notifications</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  @(ViewData["Title"].ToString() == "Helperland - MyAccount" ? "active" : "")" asp-controller="User" asp-action="MyAccount">My Settings</a>
                                </li>
                            }
                            @if (User.IsInRole("2"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Dashboard" ? "active" : "")" asp-controller="SP" asp-action="Index">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - New Service Requests" ? "active" : "")" asp-controller="SP" asp-action="NewServiceRequests">New Service Requests</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Upcoming Services" ? "active" : "")" asp-controller="SP" asp-action="UpcomingServices">Upcoming Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Service Schedules" ? "active" : "")" asp-controller="SP">Service Schedules</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Service History" ? "active" : "")" asp-controller="SP" asp-action="ServiceHistory">Service History</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - My Ratings" ? "active" : "")" asp-controller="SP" asp-action="MyRatings">My Ratings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Block Customer" ? "active" : "")" asp-controller="SP" asp-action="BlockCustomer">Block Customer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - MyAccount" ? "active" : "")" asp-controller="SP" asp-action="MyAccount">My Settings</a>
                                </li>
                            }

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Logout">Logout <img src="~/images/logout.png" class="mx-1" alt="" height="18px" width="18px" style="filter: invert(0.5);"></a>
                            </li>
                            <hr>
                    </div>

                    @if (User.IsInRole("1"))
                    {
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Header"].ToString() == "Sliding_Header" ? "button" : "button-color")  @(ViewData["Title"].ToString() == "Helperland - Book Service" ? "active" : "")" aria-current="page" asp-controller="Service" asp-action="BookService">Book now</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Prices & Services" ? "active" : "")" asp-controller="Home" asp-action="Prices">Prices & services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Warranty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link @(ViewData["Title"].ToString() == "Helperland - Contact Us" ? "active" : "")" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>

                    <li class="nav-item notification">
                        <span class="notification-number">2</span>
                        <a class="nav-link nav-link2" href="#">
                            <img src="~/images/icon-notification.png" alt=""
                                 height="31px" width="26px">
                        </a>
                    </li>
                    <li class="nav-item dropdown fleg">
                        <a class="nav-link  nav-link2" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/images//user.png" alt="logo" height="36px" width="36px">
                            <img src="~/images/keyboard-right-arrow-button.png" alt="logo">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="#" disabled>
                                    Welcome, <br>
                                    <span class="fw-bold">
                                        @*First Provider*@
                                        @User.FindFirst(System.Security.Claims.ClaimTypes.Name).Value
                                    </span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            @if (User.IsInRole("1"))
                            {
                                <li><a class="dropdown-item" asp-controller="User" asp-action="Index"> My Dashboard</a></li>
                                <li><a class="dropdown-item" asp-controller="User" asp-action="MyAccount"> My Settings</a></li>
                            }
                            @if (User.IsInRole("2"))
                            {
                                <li><a class="dropdown-item" asp-controller="SP" asp-action="Index"> My Dashboard</a></li>
                                <li><a class="dropdown-item" asp-controller="SP" asp-action="MyAccount"> My Settings</a></li>
                            }
                            <li>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Logout">
                                    Logout <img src="~/images/logout.png" class="mx-1" alt="" height="18px" width="18px" style="filter: invert(0.6);">
                                </a>
                            </li>
                        </ul>
                    </li>

                    <hr>
                    <span class="mobile-menu-items">
                        <div class="media-icons">
                            <a href="#" class="d-inline m-0"><img src="~/images/facebook-mobile-menu.png" alt="" class="mx-2"></a>
                            <a href="#" class="d-inline m-0"><img src="~/images/instagram-mobile-menu.png" alt="" class="mx-2"></a>
                        </div>
                    </span>
                    </ul>
    </div>
    </nav>
    </header>

    <div class="welcome-heading py-4">
        <h1 class="welcome">Welcome,</h1>
        <h1 class="fw-bold">@User.FindFirst("FirstName").Value</h1>
    </div>
    <div class="dashboard service-history d-flex justify-content-around">
        @if (User.IsInRole("1"))
        {
            <div class="side-menu">
                <ul>
                    <a asp-controller="User" asp-action="Index">
                    <li class="side-menu-item  @(ViewData["Title"].ToString() == "Helperland - Dashboard" ? "active" : "")" id="Dashboard">Dashboard</li>
                    </a>
                    <a asp-controller="User" asp-action="ServiceHistory">
                    <li class="side-menu-item @(ViewData["Title"].ToString() == "Helperland - Service History" ? "active" : "")" id="Service-History">Service History</li>
                    </a>
                    <a asp-controller="User">
                    <li class="side-menu-item" id="Service-Schedules">Service Schedules</li>
                    </a>
                    <a asp-controller="User" asp-action="FavouritePros">
                    <li class="side-menu-item @(ViewData["Title"].ToString() == "Helperland - Favourite Pros" ? "active" : "")" id="Favourite-Pros">Favourite Pros</li>
                    </a>
                    <a href="#">
                    <li class="side-menu-item" id="Invoices">Invoices</li>
                    </a>
                    <a href="#">
                    <li class="side-menu-item" id="Notification">Notification</li>
                    </a>
                </ul>
            </div>
        }
        else
        {
            <div class="side-menu">
                <ul>
                    <a asp-controller="SP" asp-action="Index">
                    <li class="side-menu-item @(ViewData["Title"].ToString() == "Helperland - Dashboard" ? "active" : "")" id="Dashboard">Dashboard</li>
                    </a>
                    <a asp-controller="SP" asp-action="NewServiceRequests">
                    <li class="side-menu-item @(ViewData["Title"].ToString() == "Helperland - New Service Requests" ? "active" : "")" id="">New Service Requests</li>
                    </a>
                    <a asp-controller="SP" asp-action="UpcomingServices">
                    <li class="side-menu-item @(ViewData["Title"].ToString() == "Helperland - Upcoming Services" ? "active" : "")" id="">Upcoming Services</li>
                    </a>
                    <a asp-controller="SP" asp-action="ServiceSchedule">
                    <li class="side-menu-item @(ViewData["Title"].ToString() == "Helperland - Service Schedules" ? "active" : "")" id="">Service Schedule</li>
                    </a>
                    <a asp-controller="SP" asp-action="ServiceHistory">
                    <li class="side-menu-item @(ViewData["Title"].ToString() == "Helperland - Service History" ? "active" : "")" id="">Service History</li>
                    </a>
                    <a asp-controller="SP" asp-action="MyRatings">
                    <li class="side-menu-item @(ViewData["Title"].ToString() == "Helperland - My Ratings" ? "active" : "")" id="">My Ratings</li>
                    </a>
                    <a asp-controller="SP" asp-action="BlockCustomer">
                    <li class="side-menu-item @(ViewData["Title"].ToString() == "Helperland - Block Customer" ? "active" : "")" id="">Block Customer</li>
                    </a>
                    <a href="#">
                    <li class="side-menu-item" id="Invoices">Invoices</li>
                    </a>
                    <a href="#">
                    <li class="side-menu-item" id="Notification">Notification</li>
                    </a>
                </ul>
            </div>
        }

        @RenderBody()
    </div>

    <!-- FOOTER area -->
    <div class="footer px-2 mt-5" id="footer">
        <div class="container d-flex flex-wrap justify-content-center justify-content-sm-between align-items-center py-4 px-0">
            <a href="/" class="footer-logo">
                <img src="~/images/white-logo-transparent-background.png"
                     alt="logo" class="logo">
            </a>
            <div class="links">
                <ul>
                    <a asp-controller="Home" asp-action="Index">
                    <li>HOME</li>
                    </a>
                    <a asp-controller="Home" asp-action="About">
                    <li>ABOUT</li>
                    </a>
                    <a href="#">
                    <li>TESTIMONIALS</li>
                    </a>
                    <a asp-controller="Home" asp-action="FAQs">
                    <li>FAQS</li>
                    </a>
                    <a href="#">
                    <li>INSURANCE POLICY</li>
                    </a>
                    <a href="#">
                    <li>IMPRESSUM</li>
                    </a>
                </ul>
            </div>
            <div class="media-icons">
                <a><img src="~/images/ic-facebook.png" alt="" class=""></a>
                <a><img src="~/images/ic-instagram.png" alt="" class=""></a>
            </div>
        </div>
        <hr class="divider container mx-auto">
        <div class="copy-rights d-flex justify-content-center py-3" id="copy-rights">
            <div>
                ©2018 Helperland. All rights reserved. <a href="">Terms and Conditions</a> | <a href="">
                    Privacy
                    Policy
                </a>
            </div>
        </div>
    </div>

    <!-- Back to top button -->
    <div class="back-top">
        <img src="~/images/forma-1.png" />
    </div>
    </main>
    </div>

    @if (IsSectionDefined("AddNewAddress"))
    {
        @RenderSection("AddNewAddress", required: true)
    }
    @RenderSection("Modals", required: false)
    <!--  -->
    <!-- bootstrap bundle JS -->
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- jquery cdnjs -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <!-- Custom Script file -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- jQuery Validation library-->
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("Scripts", required: false)


    @*@if (User.Identity.IsAuthenticated)
        {
                <table>
                    @foreach (var claim in User.Claims)
                    {
                        <tr>
                            <td>@claim.Type</td>
                            <td>@claim.Value</td>
                        </tr>
                    }
                </table>
        }*@
</body>


</html>
